node-red/consumer.json
[{"id":"19f2f4ac.28e58b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8bf6cb79.d17ef8","type":"jar-func","z":"19f2f4ac.28e58b","name":"kafka consumer","jar":"./classes/artifacts/consumer_jar/nodered-kafka-middleware-project.jar","x":380,"y":160,"wires":[["4e5ab2b5.986b4c"]]},{"id":"a40dbaaf.240408","type":"inject","z":"19f2f4ac.28e58b","name":"","props":[{"p":"groupId","v":"0","vt":"num"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"TopicTest","x":150,"y":160,"wires":[["8bf6cb79.d17ef8"]]},{"id":"87573eb8.047e8","type":"debug","z":"19f2f4ac.28e58b","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":160,"wires":[]},{"id":"4e5ab2b5.986b4c","type":"function","z":"19f2f4ac.28e58b","name":"deserialize","func":"let deserialized = new Object();\ndeserialized = JSON.parse(msg.payload);\nreturn deserialized;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":160,"wires":[["87573eb8.047e8"]]}]