node-red/producer.json
[{"id":"63d4a566.a5bd4c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4d2639ab.9e6518","type":"inject","z":"63d4a566.a5bd4c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"a","v":"test","vt":"str"},{"p":"b","v":"test","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"TopicTest","payload":"ciao","payloadType":"str","x":160,"y":160,"wires":[["9dbcb2f.e84ed5","cface11b.fa354"]]},{"id":"1011e87e.b6b5c8","type":"debug","z":"63d4a566.a5bd4c","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":160,"wires":[]},{"id":"5f187604.fffa18","type":"jar-func","z":"63d4a566.a5bd4c","name":"kafka producer","jar":"./classes/artifacts/producer_jar/nodered-kafka-middleware-project.jar","x":580,"y":160,"wires":[["1011e87e.b6b5c8"]]},{"id":"9dbcb2f.e84ed5","type":"function","z":"63d4a566.a5bd4c","name":"Serialize","func":"let serialized = new Object();\nserialized.topic = msg.topic;\nserialized.payload = JSON.stringify(msg);\nreturn serialized;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":160,"wires":[["5f187604.fffa18"]]},{"id":"cface11b.fa354","type":"debug","z":"63d4a566.a5bd4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":340,"y":280,"wires":[]}]